In [1]:
import pandas as pd
import yfinance as yf
from sqlalchemy.engine import URL
from sqlalchemy import create_engine

In [2]:
# Get stock price history for Apple Inc.
ticker = 'AAPL'

data = yf.download(ticker, start='2020-01-01', end='2021-01-01')
stock_data = data if data is not None else pd.DataFrame()

stock_data.columns = stock_data.columns.droplevel(1)

stock_data = stock_data[['Open', 'High', 'Low', 'Close', 'Volume']]
stock_data = stock_data.rename(columns={'Open': 'open', 'High': 'high', 'Low': 'low', 'Close': 'close', 'Volume': 'volume'})
stock_data = stock_data.reset_index().rename(columns={'Date': 'timestamp'})

timestamp_data = stock_data[['timestamp']].copy()
timestamp_data['interval'] = '1d'
timestamp_data['data_source'] = 'yahoo'

stock_data = stock_data[['open', 'high', 'low', 'close', 'volume']]
stock_data

[*********************100%***********************]  1 of 1 completed

Price        open        high         low       close     volume
0       74.059998   75.150002   73.797501   75.087502  135480400
1       74.287498   75.144997   74.125000   74.357498  146322800
2       73.447502   74.989998   73.187500   74.949997  118387200
3       74.959999   75.224998   74.370003   74.597504  108872000
4       74.290001   76.110001   74.290001   75.797501  132079200
..            ...         ...         ...         ...        ...
248    131.320007  133.460007  131.100006  131.970001   54930100
249    133.990005  137.339996  133.509995  136.690002  124486200
250    138.050003  138.789993  134.339996  134.869995  121047300
251    135.580002  135.990005  133.399994  133.720001   96452100
252    134.080002  134.740005  131.720001  132.690002   99116600

[253 rows x 5 columns]

In [3]:


connection_url = URL.create(
    drivername="postgresql+psycopg2",
    username="postgres",
    password="password",
    host="localhost",
    port=5432,
    database="asset_analysis"
)

# connection_url = 'postgresql+psycopg2://postgres:password@0.0.0.0:5432/asset_analysis'
engine = create_engine(connection_url)
print(type(engine))
# stock_data.to_sql('stock_data', connection_url, if_exists='replace')

timestamp_data

<class 'sqlalchemy.engine.base.Engine'>

Price  timestamp interval data_source
0     2020-01-02       1d       yahoo
1     2020-01-03       1d       yahoo
2     2020-01-06       1d       yahoo
3     2020-01-07       1d       yahoo
4     2020-01-08       1d       yahoo
..           ...      ...         ...
248   2020-12-24       1d       yahoo
249   2020-12-28       1d       yahoo
250   2020-12-29       1d       yahoo
251   2020-12-30       1d       yahoo
252   2020-12-31       1d       yahoo

[253 rows x 3 columns]

In [4]:
# from sqlalchemy import text

# def delete_data(table_name):
#     with engine.connect() as conn:
#         conn.execute(text(f"DELETE FROM {table_name}"))
#         conn.commit()

# delete_data('timestamp_data')

# timestamp_data.to_sql('timestamp_data', engine, if_exists='append', index=False)

# timestamp_data = pd.read_sql_table('timestamp_data', engine)

In [5]:
# from asset_db.model import Stock
# delete_data('stock')
# s = Stock()
# stock = pd.DataFrame(columns=['symbol', 'is_relative', 'interval', 'data_source', 'market_index', 'sec_type'])
# stock.loc[0] = [ticker, False, '1d', 'yahoo', 'SP500', 'STK']

# stock.to_sql('stock', engine, if_exists='append', index=False)

# stock_table = pd.read_sql_table('stock', engine)

# stock_table

In [6]:
# delete_data('stock_data')
# stock_data['bar_number'] = timestamp_data.bar_number
# stock_data['stock_id'] = stock_table.iloc[0].id
# stock_data.to_sql('stock_data', engine, if_exists='append', index=False)

# stock_data_table = pd.read_sql_table('stock_data', engine)
# stock_data_table

In [7]:
from asset_db.model import Stock
from sqlalchemy.orm import sessionmaker
from asset_db.client import MyStock, add_stock_data

Session = sessionmaker(bind=engine)()
"""
make a function that will:
 - make a call to get stock data from data provider
 - reformat the data to fit db model
 - Try to look up the stock id using the stock data parameters (symbol, interval, data_source, market_index, sec_type, is_relative)
    - If the stock id is not found
        - Add the stock to the stock table
        - Look up the stock id again

"""

s = Stock(symbol=ticker, is_relative=False, interval='1d', data_source='yahoo', market_index='SP500', sec_type='STK')
# Example usage
stock_id = add_stock_data(s, data, Session)

with Session() as session:
    add_stock_data 

stock_data = Stock.get_by_id(session, 1)
print(stock_data.__dict__)

NameError: name 'StockDatum' is not defined